body {
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
	background-color: #f4f4f4;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul {
	margin: 0px;
	padding: 0px;	
}

.button1 {
	height: 38px;
	background: #99c68e;
	border: 0px;
	padding: 0 20px 0 20px;
	color: #ffffff;
}

header {
	background-color: #2b2d2f;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #99c68e 3px solid;
}

header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	float: left; 
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding {
	float: left;
}

header #branding h1 {
	margin: 0px;
}

header nav {
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a {
	color: #99c68e;
	font-weight: bold;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}

#showcase {
	width: 100%;
	min-height: 400px;
	background:url('logo.png') 0 -250px;
	text-align: center;
	color: #ffffff;
}

#showcase h1 {
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#newsletter {
	padding: 15px;
	color: #ffffff;
	background: #2b2d2f;
}

#newsletter h1 {
	float: left;
}

#newsletter form {
	float: right;
	margin-top: 20px;
}

#newsletter input[type="email"] {
	padding: 4px;
	height: 25px;
	width: 250px;
}

#boxes {
	margin-top: 20px;
}

#boxes .box {
	float: left;
	width: 30%;
	overflow: hidden;
	padding: 10px 0 0 0;
	text-align: center;
	max-height: 750px;
	margin: 0 auto;
	margin-left: 30px;
}

.table {
	float: left;
}

.submit {
	float: right;
}

#booking {
	margin-left: -50px;
	height: 8px;
	padding: 15px;
	color: #ffffff;
	background: #f4f4f4;
	width: 200px;
}

footer {
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #99c68e;
	text-align: center;
}

#tiramisu {
	margin-bottom: 300px;
	max-height: 750px;
}

#boxes .menubox {
	float: left;
	width: 30%;
	overflow: hidden;
	padding: 15px 0 0 0;
	text-align: center;
	max-height: 750px;
	margin: 0 auto;
	font-size: 20px;
	margin-left: 30px;
}

th {
	padding: 10px;
}

#boxes .aboutbox {
	float: left;
	width: 30%;
	overflow: hidden;
	padding: 15px 0 0 0;
	text-align: center;
	max-height: 750px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 2.5;
}